<form action="/profile" method="post" enctype="multipart/form-data">
    <div class="excelsheets">
        <div class="mb-3 excelfile">
            <img src="excellogo.jpg" class="image" alt="excel logo">
            <input type="file" name="excelsheet1">
        </div>
        <div class="mb-3 excelfile">
            <img src="excellogo.jpg" class="image" alt="excel logo">
            <input type="file" name="excelsheet2">
        </div>
        <div class="mb-3 excelfile">
            <img src="excellogo.jpg" class="image" alt="excel logo">
            <input type="file" name="excelsheet3">
        </div>
    </div>
    <button type="submit" class="btn btn-primary absolute">Analyse</button>
</form>
<!-- 
<form id="myForm" action="/profile" method="post">
    <input type="file" id="csvFile1" accept=".csv" />
    <br />
    <input type="file" id="csvFile2" accept=".csv" />
    <br />
    <input type="file" id="csvFile3" accept=".csv" />
    <br />
    <input type="submit" value="Submit" />
</form> -->