<%- include('header') %>
    <%- include('navbar') %>
        <div class="heading">
            <h1 class="headingelements">Escrow Reconciliation</h1>
            <h1 class="headingelements" id="tool">Tool</h1>
        </div>

        <%- include('form')%>



            <%- include('footer') %>