.bgBlue {
    background-color: #005EB8;

}

.text-align-center {
    text-align: center;
}

.grey {
    background-color: rgb(170, 170, 170);
}

.openingandclosingbalance {

    display: flex;
    justify-content: space-between;
}

.creditanddebit {
    display: flex;
    /* flex-direction: ; */
    justify-content: space-around;
}


.bal {
    background-color: #171868;
    height: 2rem;
    font-size: large;
    width: 15vw;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.amount {
    width: 7vw;
    text-align: center;
    background-color: rgb(170, 170, 170);
    border-radius: 5px;
}

.amount1 {
    width: 20vw;
    text-align: center;
    background-color: #171868;
    color: white;
    border-radius: 5px;
}

.amount2 {
    width: 60vw;
    text-align: center;
    background-color: rgb(170, 170, 170);
    border-radius: 5px;
}

.ocbal {
    width: 30vw;
    height: 2rem;
    font-size: large;
    display: flex;
    justify-content: space-between;
}

.balancemovementatbank {
    margin-top: -8px;
    height: 2.1rem;
    color: white;
    font-size: large;
}

/* 
.nextbtn {
    height: 30px;
} */

.boxcd {
    width: 30vw;
    height: 2rem;
    font-size: large;
    border-radius: 5px;
    color: white;
}

.newid {
    width: 43vw;
}

.value {
    margin-top: 3px;
    border-radius: 3px;
    height: 20vh;
    overflow: scroll;
}

.value1 {
    margin-top: 3px;
    border-radius: 3px;
    height: 69vh;
    overflow: scroll;
}

.margin-top-10 {
    margin-top: 10px;
}

#span {
    color: white;
}

.margin-top-10 {
    margin-top: 20px;
}

.unexplainedvarience {
    position: absolute;
    left: 42vw;
    height: 25px;
    bottom: 12px;
    /* margin-bottom: 15px; */
}

.nextbtn a {
    text-decoration: none;
    color: white;
}

/* #bg {
    background-image: url("bg.png");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;

} */